<h1>Dashboard</h1>

<button id="import">Import values</button> <br><br>

<div id="dashboard">
  
  <canvas id="graph" width="500" height="200"></canvas>

  <table>
    <tr>
      <td><p class="label">Average:</p></td>
      <td><p class="value" id="average"></p></td>
    </tr>
    <tr>
      <td><p class="label">Max:</p></td>
      <td><p class="value" id="max"></p></td>
    </tr>
    <tr>
      <td><p class="label">Min:</p></td>
      <td><p class="value" id="min"></p></td>
    </tr>
  </table>

</div>